<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ut6_Actividad_1.Properties.Settings.tema6bdluisConnectionString"
            connectionString="Data Source=tema6servidor.database.windows.net;Initial Catalog=tema6bdluis;User ID=tema6servidorluis"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>